* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto'; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 22px;
}


/* Clearing floats after the columns */

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header {
    padding-top: 10px;
}

.header-container {
    font-family: "Inconsolata", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 13px;
    line-height: 40px;
    border-style: solid;
    border-color: #f7f4f4;
    border-width: 0px 0px 1px 0px;
    /* border-width:100%; */
}

ul {
    list-style-type: none;
    float: right;
    padding: 10px;
    margin-top: 10px
}

ul>li {
    display: inline;
    padding: 10px 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    border: 2px solid black;
    padding: 5px;
}

ul>li>a:hover {
    color: black;
    font-weight: bold;
}

ul:last-child {
    padding-right: 100px;
}


/*hero-section starts*/
.site-hero {
    background-image: url(../../../assests/images/image_1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.site-hero, 
.site-hero .row {
    height: 100vh;
    min-height: 800px; 
}
 .site-hero:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
} 

.row {
    text-align: center;
    margin: 0 auto;
    width: 100%;;
    position: relative;
}


.site-text{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-hero h1 {
    font-weight: 200;
    margin-bottom: 20px;
    display: block;
    color: #fff;
    line-height: 1.2;
}

.site-hero h1 strong {
    font-weight: 800; 
}

.site-subheading{
    max-width: 640px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.btn{
    cursor: pointer;
    color:#fff;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1rem 1.5rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border:1px solid transparent;
    text-decoration:none;
}

.btn-primary {
    background-color: #57d131;
    border-color: #57d131;
}

/*hero-section ends*/


/* To those devices whose viewport is 0-600px. */

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    /*hero-section starts*/
    .site-hero h1 {
        font-size: 70px; 
    } 
    
    .site-hero .site-subheading {
        max-width: 640px;
        margin: 0 auto;
        line-height: 2;
        font-weight: 200;
        margin-bottom: 1.5rem;
    }
    /*hero-section ends*/

}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
        width: 100%;
    }
}