* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, "Helvetica Neue", 
                    Arial, sans-serif,
                     "Apple Color Emoji",
                      "Segoe UI Emoji", 
                      "Segoe UI Symbol", 
                      "Noto Color Emoji";
    font-size: 22px;
}


/* Clearing floats after the columns */

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header {
    padding-top: 10px;
}

.header-container {
    font-family: "Inconsolata", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 13px;
    line-height: 40px;
    border-style: solid;
    border-color: #f7f4f4;
    border-width: 0px 0px 1px 0px;
    /* border-width:100%; */
}

ul {
    list-style-type: none;
    float: right;
    padding: 10px;
    margin-top: 10px
}

ul>li {
    display: inline;
    padding: 10px 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    border: 2px solid black;
    padding: 5px;
}

ul>li>a:hover {
    color: black;
    font-weight: bold;
    background-color: white;
}

ul:last-child {
    padding-right: 100px;
}


/*hero-section starts*/
.site-hero {
    background-image: url(../images/4.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.site-hero, 
.site-hero .row {
    height: 100vh;
    min-height: 800px; 
}
 .site-hero:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
} 

.row {
    text-align: center;
    margin: 0 auto;
    width: 100%;;
    position: relative;
}


.site-text{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-hero h1 {
    font-weight: 200;
    margin-bottom: 20px;
    display: block;
    color: #fff;
    line-height: 1.2;
}

.site-hero h1 strong {
    font-weight: 800; 
}

.site-subheading{
    max-width: 640px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.btn{
    cursor: pointer;
    color:#fff;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1rem 1.5rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border:1px solid transparent;
    text-decoration:none;
}

.btn-primary {
    background-color: #57d131;
    border-color: #57d131;
}

/*hero-section ends*/


/* To those devices whose viewport is 0-600px. */

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    /*hero-section starts*/
    .site-hero h1 {
        font-size: 70px; 
    } 
    
    .site-hero .site-subheading {
        max-width: 640px;
        margin: 0 auto;
        line-height: 2;
        font-weight: 200;
        margin-bottom: 1.5rem;
    }
    /*hero-section ends*/

}

@media screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
    }
}

/* what-i-do section */
.services {
	border-bottom: 1px solid #eaebec;
	background-color: #f7f8fa;
}

.section-header {
	margin-bottom: 60px;
	text-align: center;
}

.section-header h2 {
    padding-top: 30px;
    margin-bottom: 20px;
    font-family: "Cabin", Helvetica Neue, Sans-serif;
    font-size: 2.4rem;
    font-weight: 400;

	line-height: 3.125rem;
}

.dark-text {
    color: #454545;
}

.colored-line {
    background: #57d131;
    margin: auto;
    display: block;
    width: 80px;
    height: 3px;
}

.sub-heading {
    font-weight: 300;
    margin-top: 20px;
}

.services-wrap {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
}

.service_row {
	float: left;
	width: 31.5%;
	min-height: 1px;
	margin: 0 1.25% 0 1.25%;
}

.col_first {
	margin-left: 0;
	padding-left: 0;
}

.service_row > div{
	margin-bottom: 30px;
	text-align: center;
}

.services-wrap,
 .service-box {
	display: inline-block;
	text-align: center;
}

.single-service {
	padding: 40px 35px 40px 35px;
	border-top: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-bottom: 4px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-radius: 3px;
	background: #fff;
}

.single-service h3 {
    margin-bottom: 15px;
    padding-top: 5px;
}

.single-service.p{
    margin: 0 0 10px;
}

.border-bottom-hover:hover {
	border-bottom-color: #57d131;;
}

.service-icon {
	margin-bottom: 35px;
}

i.fas.fa-users.colored-text,
i.fas.fa-code.colored-text,
i.fab.fa-uikit.colored-text {
    font-size: 60px;
}

a.colored-text{ 
    font-size: 22px;
}


.col_third {
	margin-right: 0;
	padding-right: 0;
}

h3 a:hover,
.service-icon > a:hover {
    background-color: transparent;
}


/* contact-info*/
.contact-info {
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #eaebec;
}

.contact-info .section-overlay-layer {
    padding-top: 30px;
    padding-bottom: 70px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.contact-links .contact-link-box {
    display: inline-block;
    float: none;
    margin-right: -4px;
    text-align: center;
    vertical-align: top;
}

@media (min-width: 768px) {
.col-sm-4 {
    width: 33.33333333%;
}
}

.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-info .icon-container {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
}

.colored-text {
    color: #57d131;
}

.contact-info .contact-links a {
    padding-top: 65px;
    padding-bottom: 0;
}

.strong {
    font-weight: 550;
}

.contact-info .contact-links a:hover {
    background-color: transparent;
}