* {
    margin: 0;
    padding: 0;
}
  
.container {
    background-color: white;
    box-shadow: 2px 1px 2px 2px grey;
    position: absolute;
    border-radius: 5px ;
    top: 100px;
    left: 400px;
    padding: 25px;
}

label {
    color: grey;
}
  
.btn{
    width: 100%;
    text-align: center;
    background-color:  rgb(7, 138, 253);
    border: 1px solid rgb(7, 138, 253);
    color: white;
    padding:10px 0;
    font-size: 16px;
    border-radius: 4px;
}

.form {
    width: 300px;
    /* height: 500px;
    width: 900px;
    border: 1px solid ;
    position: relative;
    margin-top : 50px;
    margin-left: 50px;    */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 270px;
    padding:12px 10px;
}