* {
    margin:0px;
    padding:0px;
}
.card {
    width: 40%;
    background-color:white; 
    display: inline-block;
    border-radius:10px;
    margin:40px; 
    box-shadow: 2px 2px 2px 10px  white;
}

.blog__image img {
    width:100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog__title{
    text-align: center;
    padding:20px;
}

.blog__description {
    text-align:center;
    padding:4px;
}

.btn__readmore {
    display: inline-block;
    margin-top:30px;
    margin-bottom:30px;
    color: #fff;
    border: 1px solid transparent;
    font-size: 15px;
    border-radius:100px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration:none;
    background-color: #57d131;
    border-color: #57d131;
    outline: none;
}

.btn__readmore:hover {
    color: #57d131;
    background-color: #fff;
    font-size: 16px;
}